body {
    margin: 0px 0px;
}

a {
    text-decoration: none;
}

.header {
    height: 80px;
    width: 100%;
    background-color: #830047;
}

.pink2 {
    width: 400px;
}

.try {
    border-color: #f1db5e !important;
    color: #ebda7b !important;
}

.try:hover {
    background-color: rgb(83, 8, 48);
}

.social-links {
    font-size: 24px;
    margin: 5px 58px;
}

.social-links .wishlist {
    color: #ebda7b !important;
    padding: 0px 10px;
}

.social-links .cart {
    color: #ebda7b !important;
    padding: 0px 10px;
}

.social-links .account {
    color: #ebda7b !important;
    padding: 0px 10px;
}

#roop {
    height: auto;

}

.pari {
     height: 600px;
    
}
@media screen and (min-device-width: 320px) and (max-device-width: 1024px)  {
    .pari {
        height: auto !important;
    }
  }
  
#categories {
    height: auto;
}

.catego {
    margin-top: 2%;
}

.catego h4 {
    text-align: center;
    font-size: 34px;
    font-family: cursive;
    color: #ad3375;
}

.catego h4:before,
h4:after {
    content: '\00a0\00a0\00a0\00a0';
    text-decoration: line-through;
    margin: auto 0.5em;
}

.catego h4:before {
    margin-right: 10px
}

.catego h4:after {
    margin-left: 10px
}

.categomain {
    margin: 10px 30px;
    /**border: 1px solid black;**/
    /**height: 485px;**/
}

.cate1 {
    cursor: pointer;
    border: 1px solid #e6dede;
    margin: 3% 0%;
    box-shadow: 5px 12px 20px #c4bbc0;
}

.cate1:hover {
    transform: scale(1.1);
}

.catecom2 {
    height: 162px;
}

.com2 {
    text-align: center;
}

h5.card-title {
    font-size: 16px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cate1:hover .image {
    opacity: 0.3;
}

.cate1:hover .middle {
    opacity: 1;
}

.text {
    background-color: #d4ca97;
    color: #000000;
    font-size: 16px;
    padding: 16px 32px;
}

#veriouscategories {
    height: 670px;
    /** border: 2px solid palevioletred;**/
    background-color: #fcf9f9;
}
@media screen and (min-device-width: 320px) and (max-device-width: 1024px)  {
    #veriouscategories {
        height: auto !important;
    }
  }
.varcat1 {
    margin: 20px 20px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 1024px)  {
    .part3 {
        height: auto !important;
    }
    .part2{
        height: auto !important;
    }
    .part1{
        height: auto !important;
    }
  }

.main1 {
    width: 60%;
    margin-left: 3%;
}

.main2 {
    width: 34%;
}

.part1 {
    height: 72%;
    margin-left: 2%;
}

.part2 {
    margin-left: 4%;
    height: 33%;
    width: 96% !important;
}

.part3 {
    height: 33%;
    margin-left: 4%;
    width: 96% !important;
}

.women {
    text-align: center;
    font-size: 25px;
    color: #7c0d84;
    font-family: Georgia;
}

.men {
    text-align: center;
    margin-top: -3%;
    font-size: 25px;
    color: #7c0d84;
    font-family: Georgia;
}

.kid {
    text-align: center;
    font-size: 25px;
    color: #7c0d84;
    font-family: Georgia;
}

.pari2 {
    cursor: pointer;
}

#collection {
    height: 550px;
    /**border: 2px solid maroon;**/
}

.card-box {
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;
    margin-bottom: 30px;
    float: left;
    border-radius: 3px;
    margin-top: 2%;
}

.card-box .card {
    overflow: hidden;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}

.card-box .card:hover {
    transform: scale(0.9);
}

.card-box h3 a {
    font-size: 20px;
    text-decoration: none;
}

.rain {
    margin-left: 2%;
    margin-top: 2%;
    color: dimgrey;
    font-family: Georgia;
}

#offer {
    height: 400px;
    /**border: 2px solid olive;**/
    margin-top: 2%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 512px)  {
    #offer {
        height: auto !important;
        margin-top: 249% !important;
    }
  }
  @media screen and (min-device-width: 513px) and (max-device-width: 520px)  {
    #offer {
        height: auto !important;
        margin-top: 245% !important; 
    }
  }
  @media screen and (min-device-width: 521px) and (max-device-width: 536px)  {
    #offer {
        height: auto !important;
        margin-top: 240% !important; 
    }
  }
  @media screen and (min-device-width: 537px) and (max-device-width: 544px)  {
    #offer {
        height: auto !important;
        margin-top: 238% !important; 
    }
  }
  @media screen and (min-device-width: 545px) and (max-device-width: 555px)  {
    #offer {
        height: auto !important;
        margin-top: 234% !important; 
    }
  }
  @media screen and (min-device-width: 556px) and (max-device-width: 570px)  {
    #offer {
        height: auto !important;
        margin-top: 226% !important; 
    }
  }
  @media screen and (min-device-width: 571px) and (max-device-width: 580px)  {
    #offer {
        height: auto !important;
        margin-top: 226% !important; 
    }
  }
  @media screen and (min-device-width: 581px) and (max-device-width: 600px)  {
    #offer {
        height: auto !important;
        margin-top: 220% !important; 
    }
  }
  @media screen and (min-device-width: 601px) and (max-device-width: 620px)  {
    #offer {
        height: auto !important;
        margin-top: 210% !important; 
    }
  }
  @media screen and (min-device-width: 621px) and (max-device-width: 650px)  {
    #offer {
        height: auto !important;
        margin-top: 200% !important; 
    }
  }
  @media screen and (min-device-width: 651px) and (max-device-width: 670px)  {
    #offer {
        height: auto !important;
        margin-top: 190% !important; 
    }
  }
  @media screen and (min-device-width: 671px) and (max-device-width: 700px)  {
    #offer {
        height: auto !important;
        margin-top: 184% !important; 
    }
  }
  @media screen and (min-device-width: 701px) and (max-device-width: 740px)  {
    #offer {
        height: auto !important;
        margin-top: 176% !important; 
    }
  }
  @media screen and (min-device-width: 741px) and (max-device-width: 767px)  {
    #offer {
        height: auto !important;
        margin-top: 170% !important; 
    }
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 810px)  {
    #offer {
        height: auto !important;
        margin-top: 52% !important; 
    }
  }
  @media screen and (min-device-width: 811px) and (max-device-width: 840px)  {
    #offer {
        height: auto !important;
        margin-top: 50% !important; 
    }
  }
  @media screen and (min-device-width: 841px) and (max-device-width: 870px)  {
    #offer {
        height: auto !important;
        margin-top: 48% !important; 
    }
  }
  @media screen and (min-device-width: 871px) and (max-device-width: 900px)  {
    #offer {
        height: auto !important;
        margin-top: 45% !important; 
    }
  }
  @media screen and (min-device-width: 901px) and (max-device-width: 991px)  {
    #offer {
        height: auto !important;
        margin-top: 42% !important; 
    }
  }
  
.vi1 {
    width: 100%;
    height: 396px;
}

adverties {
    /**height: 400px;**/
    height: auto;
    /**border: 2px solid firebrick;**/
}

.flower {
    display: inline-flex;
}
@media screen and (min-device-width: 320px) and (max-device-width: 500px)  {
    .flower {
        display: inline-block !important; 
    }
  }
  @media screen and (min-device-width: 501px) and (max-device-width: 768px)  {
    .flower {
        display: block;
  }
  /* /* .cards .img{
    height: 100% !important;
    width: 100% !important;
  } 
  .flower1 {
   
    height: 372px !important;
    width: 24% !important;
    /* margin-left: 9px !important;
    margin-top: 1% !important; 
} */
}


.flower1 {
    max-width: none;
    height: 372px !important;
    width: 24%;
    margin-left: 9px;
    margin-top: 1%;
}

.flower1:hover {
    opacity: 0.7;
}

#upcoming {
    height: 400px;
    border: 2px solid gray;
}

#trends {
    height: auto;
    /**border: 2px solid hotpink;**/
}

.item {
    height: 410px;
    width: 288px;
    border: 1px solid lightgray;
    margin-top: 2%;
}

.pip {
    margin-top: 2%;
    height: 13%;
    padding: 2px 8px;
}

.pip1 h6 {
    margin-top: 1%;
    color: chocolate;
    margin-left: 3%;
}

.pip1 button {
    float: right;
    margin-right: 2%;
    font-size: 19px;
    font-family: Georgia;
    margin-top: -12px;
    border-color: azure;
}

.pip1 button:hover {
    background-color: #830047;
    color: #f1db5e;
}

#guide {
    height: auto;
    /**border: 2px solid purple;**/
    background-color: #fcf9f9;
}

.pop {
    height: 435px;
    width: 85%;
    background-color: #e6dcdd;
    margin: 0px 127px;
    border-radius: 38px;
}

.catego p {
    text-align: center;
    color: #d4bd3c;
    font-size: 22px;
    font-family: Segoe Script;
}

.tip {
    height: 260px;
    width: 100%;
}

.kite {
    border-radius: 15px;
    margin-top: 2%;
}

#footer {
    background: #830047;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    height: 100px;
    /**border: 2px solid rebeccapurple;**/
}

#footer .footer-top {
    background: #830047;
    border-top: 1px solid #830047;
    border-bottom: 1px solid #830047;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color: #f1db5e;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #830047;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: rgb(215, 123, 123);
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h5 {
    font-size: 16px;
    font-weight: bold;
    color: #f1db5e;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #f3eab4;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #E1DFE8;
    ;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #f3eab4;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
    color: #E1DFE8;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.pari1 {
    height: auto;
    width: auto;
    cursor: pointer;
}

.cont {
    background-color: #830047;
}

.credits a {
    color: #f1db5e;
}

#coupon {
    background: linear-gradient(180deg, #f8d8d9, #f2a7a7);
    z-index: 100;
    visibility: hidden;
    height: 550px;
    width: 60%;
    margin-left: 20%;
    position: fixed;
    border-radius: 10px;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 5px 10px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 3px;
    height: 8%;
    width: 5%;
    color: black;
}

.btn-group-sm>.btn,
.btn-sm:hover {
    background-color: #e71010;
    color: white;
}

#couponHeading {
    text-align: center;
    /*color: #daa82b;*/
    color: #e7982ade;
    font-size: 35px;
    margin-top: 1%;
    font-family: Georgia;
}

#offer {
    height: 400px;
    width: 90%;
    margin-left: 6%;
    /*border:1px solid orange;*/
}

#main {
    background-color: orange;
    margin-top: 0%;
}

.last {
    background-color: #830047;
}

#main9 {
    height: 100%;
}

#offerimage {
    width: 50%;
    height: 350px;
    float: left;
    margin-top: 5%;
}

#offerDetail {
    width: 55%;
    height: 350px;
    margin-left: 48%;
    padding-left: 5%;
}

#offerDetail h3 {
    float: right;
    line-height: 1.5;
    font-size: 32px;
    margin-top: 12%;
    font-family: geogia;
    color: #830047;
}

#imagestyle {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

#offerDetail p {
    color: #616A6B;
    margin-top: -3%;
}

#offerDetail h5 {
    color: #1E8449;
    margin-bottom: 6%;
}

#offerDetail h4 {
    color: #C0392B;
    font-family: Georgia;
}

#offerDetail h4::after {
    content: none;
}

:root {
    --bs-dark: #ffffff;
}

.theme-container {
    /* width: 70px; */
    /* height: 70px; */
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.theme-container:hover {
    opacity: 0.8;
}

.shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 17px 17px 23px #1a1d20,
        -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
        inset -5px -5px 4px #24282c;
}

.shadow-light {
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
        inset 7px 7px 3px rgba(209, 217, 230, 0.35),
        inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

@keyframes change {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}

.change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
}

.location img {
    margin-top: -17%;
    width: 40px;
    float: right;
    cursor: pointer;
}

p#weatherOut {
    float: right;
    margin-right: 0%;
    margin-top: -2%;
}

p#out {
    margin-top: -6%;
}

.footer-info .social-links{
    font-size: 24px;
    margin: 5px 0px;
}
.text a{
    color: #000000 !important;
}
/* header {
    font-size: 14px;
    position: relative;
    z-index: 1002;
}
header .homePageBottomHeader {
    margin-top: unset!important;
    position: absolute;
    top: 77px;
    width: 100%;
}
header .bottomHeader {
    background: #fff;
    margin-top: 77px!important;
    min-height: 54px;
    position: relative;
}
* {
    border: none;
    font-family: Nunito Sans,sans-serif!important;
    list-style: none!important;
    margin: 0;
    outline: none!important;
    padding: 0;
    text-decoration: none!important;
}
/* *, :after, :before {
    box-sizing: border-box;
} 
.container {
    min-width: 260px;
    max-width: 1198px;
}
.bottomHeader .bottom-navbar {
    cursor: pointer;
    text-transform: uppercase;
    z-index: 1001;
}
header .bottomHeader .bottom-navbar {
    cursor: pointer;
    text-transform: uppercase;
    z-index: 1001;
}
header .bottomHeader .bottom-navbar .category-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header .bottomHeader .bottom-navbar .category-menu>li {
    position: relative;
}
li{
    margin: 0;
}
header .bottomHeader .bottom-navbar .category-menu>li>a {
    color: #000;
    display: inline-block;
    padding: 12px 0;
    position: relative;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    z-index: 21;
}
header .bottomHeader .bottom-navbar .category-menu>li>a:after {
    background-color: #832729;
    border-radius: 5px;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all .3s;
    width: 100%;
}
header .bottomHeader .bottom-navbar .category-menu>li .sub-menu {
    display: none;
}
.col {
    flex: 1 0;
}
header a, header a:hover {
    color: #832729;
}
header .bottomHeader .bottom-navbar .category-menu>li .sub-menu {
    display: none;
}
header .currencySelector {
    align-items: center;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    min-width: 200px;
    width: 100%;
}
header .currencySelector label {
    background: #e48586;
    border-radius: 18px;
    cursor: pointer;
    height: 20px;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
}
label {
    display: inline-block;
}
input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
header .currencySelector label input {
    -webkit-appearance: none;
    appearance: none;
}
header .currencySelector label span {
    background: #832729;
    border-radius: 50%;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .5s;
    width: 20px;
}
header .currencySelector label .currency :first-child {
    color: #fff;
    left: 6px;
}
header .currencySelector label .currency>div {
    line-height: 0px;
    position: absolute!important;
    top: 10px;
}
header .currencySelector label .currency :nth-child(2) {
    color: #832729;
    right: 6px;
}
 */
 .dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 35rem !important;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 14px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0rem !important;
    padding-left: 3rem !important;
}
.mainTitle{
    color: #830047;
    margin-left: 1% !important;
}
.mainTitle b{
    margin-left: 10% !important;
}
.mainTitle:hover{
    color:#830047;
}
.row{
--bs-gutter-x: 0.5rem !important;
}
.rose2{
    min-width: 53rem !important;

}
.dropdown-item{
    cursor: pointer;
}
.card .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   /* .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
  } */
  .cards-container {
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding-left: 15px;
    padding-right: 15px; */
  } 
  .new{
        margin-left: 38%;
        margin-top: 42%;
  }
  .new a{
    color: #2583d5;
  }
  .cards {
    /* max-width: 300px; */
    height: 380px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    margin: 25px 0;
    /* width: 30%; */
  }
  
  @media screen and (max-width: 700px) {
    .cards {
      width: 45%;
    }
  }
  @media screen and (max-width: 500px) {
    .cards {
      width: 90%;
    }
  }
  .cards .elms-animation,
  .cards .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 93%;
    width: 100%;
    width: 100%;
  }
  .cards .elms-animation {
    z-index: 5;
  }
  .cards .elms-animation span {
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    height: 0;
    width: 0;
    transition: all .5s ease-out;
  }
  .cards .elms-animation span.one {
    top: 0; left: 0;
  }
  .cards .elms-animation span.two {
    top: 0; right: 0;
  }
  .cards .elms-animation span.three {
    left: 0; bottom: 0;
  }
  .cards .elms-animation span.four {
    right: 0; bottom: 0;
  }
  
  .cards:hover .elms-animation span {
    width: 50%;
    height: 50%;
  }
  .cards .elms-animation, .cards .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    width: 100%;
}
  
   .cards img {
    height: 100%;
    width: 95%;
    object-fit: cover;
    object-position: center;
    display: block;
    padding: 7px;
  } 
  
  .cards .content {
    z-index: 6;
    visibility: hidden;
  }
  .cards:hover .content {
    animation: show .3s .4s linear forwards;
  }
  .cards .content button {
    padding: .6rem 1.3rem;
    border: 3px solid #FFF;
    background: transparent;
    color: #FFF;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: background .3s ease;
  }
  .cards .content button:hover {
    background: #FFF;
    color: #333;
  }
  
  @keyframes show {
    to {
      visibility: visible;
    }
  }