body {
    margin: auto;
}

a {
    text-decoration: none;
}

header {
    height: 80px;
    width: 100%;
    background-color: #830047;
}

.pink {
    background-color: #830047;
}

.rounded-pill {
    height: 70px;
    margin-left: 20%;
}

/**.d-flex{
    display: inline-flex !important;
    width: 440px;
    margin-left: 13%;
}**/
.pink2 {
    display: inline-flex !important;
    width: 440px;
    margin-left: 95%;
}

.try {
    border-color: #f1db5e !important;
    color: #ebda7b !important;
}

.try:hover {
    background-color: rgb(83, 8, 48);
}
.social-links{
    font-size: 31px;
    margin: 10px 14px;
}
.social-links .wishlist{
 color:#ebda7b !important;
 padding: 0px 10px;
}
/**#social .social-links a i:hover{
    animation: rotate 1s linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}**/
.social-links .cart{
 color:#ebda7b !important;
 padding: 0px 10px;
}
.social-links .account{
 color:#ebda7b !important;
 padding: 0px 10px;
}
li{
    list-style-type: none;
}
.dropdown-hover:hover>.dropdown-menu {
display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
pointer-events: none;
}
#roop {
    height: 600px;
    /**border: 2px solid green;**/
}

.pari {
    height: 600px;
}

#categories {
    height: auto;
    /**border: 2px solid orange;**/
}

.catego {
    margin-top: 2%;
}

/**.catego h4{
    display: flex;
    flex-direction: row; 
     font-size: 34px;
    font-family: cursive;
    color: #ad3375;
}**/
.catego h4 {
    text-align: center;
    font-size: 34px;
    font-family: cursive;
    color: #ad3375;
}

.catego h4:before,
h4:after {
    /**content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;**/
    content: '\00a0\00a0\00a0\00a0';
    text-decoration: line-through;
    margin: auto 0.5em;

}

.catego h4:before {
    margin-right: 10px
}

.catego h4:after {
    margin-left: 10px
}

.categomain {
    margin: 10px 30px;
    /**border: 1px solid black;**/
    height: 485px;
}

.cate1 {
    cursor: pointer;
    border: 1px solid #e6dede;
    margin: 3% 0%;
    box-shadow: 5px 12px 20px #c4bbc0;
}

.cate1:hover {
    transform: scale(1.1);
}

.catecom2 {
    height: 162px;
}

.com2 {
    text-align: center;
}

h5.card-title {
    font-size: 16px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cate1:hover .image {
    opacity: 0.3;
}

.cate1:hover .middle {
    opacity: 1;
}

.text {
    background-color: #d4ca97;
    color: #000000;
    font-size: 16px;
    padding: 16px 32px;
}

#veriouscategories {
    height: 670px;
    /** border: 2px solid palevioletred;**/
    background-color: #fcf9f9;
}

.varcat1 {
    margin: 20px 20px;
}

.main1 {
    width: 60%;
    margin-left: 3%;
}

.main2 {
    width: 34%;
}

.part1 {
    height: 72%;
    margin-left: 2%;
}

.part2 {
    margin-left: 4%;
    height: 33%;
    width: 96% !important;
}

.part3 {
    height: 33%;
    margin-left: 4%;
    width: 96% !important;
}

.women {
    text-align: center;
    font-size: 25px;
    color: #7c0d84;
    font-family: Georgia;
}

.men {
    text-align: center;
    margin-top: -3%;
    font-size: 25px;
    color: #7c0d84;
    font-family: Georgia;
}

.kid {
    text-align: center;
    font-size: 25px;
    color: #7c0d84;
    font-family: Georgia;
}

.pari2 {
    cursor: pointer;
}

#collection {
    height: 550px;
    /**border: 2px solid maroon;**/
}

.card-box {
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;
    margin-bottom: 30px;
    float: left;
    border-radius: 3px;
    margin-top: 2%;
}

.card-box .card {
    overflow: hidden;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}

.card-box .card:hover {
    transform: scale(0.9);
}

.card-box h3 a {
    font-size: 20px;
    text-decoration: none;
}

.rain {
    margin-left: 2%;
    margin-top: 2%;
    color: dimgrey;
    font-family: Georgia;
}

#offer {
    height: 400px;
    /**border: 2px solid olive;**/
    margin-top: 1%;
}

.vi1 {
    width: 100%;
    height: 396px;
}

#adverties {
    /**height: 400px;**/
    height: auto;
    /**border: 2px solid firebrick;**/
}

.flower {
    display: inline-block;
}

.flower1 {
    max-width: none;
    height: 372px !important;
    width: 24%;
    margin-left: 9px;
    margin-top: 1%;
}

.flower1:hover {
    opacity: 0.7;
}

#upcoming {
    height: 400px;
    border: 2px solid gray;
}

#trends {
    height: auto;
    /**border: 2px solid hotpink;**/
}

.item {
    height: 410px;
    width: 288px;
    border: 1px solid lightgray;
    margin-top: 2%;
}

.pip {
    margin-top: 2%;
    height: 13%;
    padding: 2px 8px;
}

.pip1 h6 {
    margin-top: 1%;
    color: chocolate;
    margin-left: 3%;
}

.pip1 button {
    float: right;
    margin-right: 2%;
    font-size: 19px;
    font-family: Georgia;
    margin-top: -12px;
    border-color: azure;
}

.pip1 button:hover {
    background-color: #830047;
    color: #f1db5e;
}

#guide {
    height: auto;
    /**border: 2px solid purple;**/
    background-color: #fcf9f9;
}

.pop {
    height: 435px;
    width: 85%;
    background-color: #e6dcdd;
    margin: 0px 127px;
    border-radius: 38px;
}

.catego p {
    text-align: center;
    color: #d4bd3c;
    font-size: 22px;
    font-family: Segoe Script;
}

.tip {
    height: 260px;
    width: 100%;
}

.kite {
    border-radius: 15px;
    margin-top: 2%;
}

#connection {
    height: 400px;
    border: 2px solid tomato;
}

#footer {
    background: #830047;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    height: 100px;
    /**border: 2px solid rebeccapurple;**/
}

#footer .footer-top {
    background: #830047;
    border-top: 1px solid #830047;
    border-bottom: 1px solid #830047;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color: #f1db5e;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #830047;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: rgb(215, 123, 123);
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h5 {
    font-size: 16px;
    font-weight: bold;
    color: #f1db5e;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #f3eab4;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #E1DFE8;
    ;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #f3eab4;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
    color: #E1DFE8;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.pari1 {
    height: auto;
    width: auto;
    cursor: pointer;
}

.cont {
    background-color: #830047;
}

.credits a {
    color: #f1db5e;
}